:root {
  --case1: #84bee4;
  --case2: #c8d338;
  --case3: #ffc520;
  --case4: #f0a0b3;
}

body {
  background-color: #dce8f6;
}
.yellow {
  background-color: #fdf7db !important;
}
.sidenav {
  width: 150px;
  padding: 5px;
  margin: 2px 0;
}
header,
.sidebar {
  font-family: helvetica;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
/*^ tekstin kooksi ilmoitettu "16,8pt" mutta 16pt 
ainakin todella iso joten vaihdwettu px*/
.nonactive {
  color: rgb(96, 96, 96);
}
.nonactive:hover {
  color: black;
  transition: color 1s;
}
