:root {
  --case1: #54A4DA;
  --case4: #7EC247;
  --case3: #A67C52;
  --case2: #F79226;
}
/* YLEISIÄ MUOTOILUJA KOKO SIVUSTON LAAJUISESTI */
html,
body {
  font-family: helvetica !important;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page {
  position: relative;
  min-height: 100vh;
  padding: 70px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.accordion-body, .accordion-button {
  color: #1A1A1A !important;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.96px;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
}
p, .accordion-button, .accordion-body {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.36px;
}
.main {
    margin: 60px auto;
    max-width: 1160px;
}
.row {
  align-items: center;
}
/* FOOTERIN MUOTOILU */
footer {
  font-size: 12px;
  background-color: #1A1A1A;
  padding: 24px 20px;
  letter-spacing: 0.24px;
  position: relative;
  margin: auto;
  max-width: 1160px;
  height: fit-content;
  color: #F8F8F8;
}
footer .row{
  align-items: center;
  justify-content: space-between;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #F8F8F8;
  margin-left: 48px;
  letter-spacing: 0.24px;
  
}
footer a img {
  margin:8px;
}
footer a:hover {
  color: white;
}
/* YLÄVALIKON MUOTOILU */
nav.navbar {
  align-items: center;
  padding: 24px 20px;
  background-color: #1A1A1A;
  max-width: 1160px;
  margin: auto;
  box-shadow: none;
}
.navbar-nav .nav-link,
.btn-link {
  color: #F8F8F8;
  line-height: 16px;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  align-self: center; 
}
a.nav-link {
  padding: 0 !important;
}
.navbar-nav .nav-link.active,
.btn-link.active {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav-item{
  align-content: center;
  margin: 0 24px;
}
.navbar-nav .nav-link:hover,
.btn-link:hover {
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: all 0.4s;
}
.navbar-toggler>.fas {
  font-size: 35px;
}
#mobilenav {
  padding-bottom: 15px;
  box-shadow: 0 20px 20px -15px #000000;
}
nav.navbar#mobilenav {
  padding: 10px !important;
}
#mobilenav .navbar-brand {
  padding-left: 10px;
}
#mobilenav .nav-item{
  margin: 5px 0;
}
#mobilenav .col-8{
  text-align: end;
}
.active img{
  margin-right: 8px;
}
/* YLEMPI KORTTI */
div.card {
  z-index: 3;
  border-radius: 22px;
  min-height: 312px;
}
.card.home{
  background: #ffffff url("../images/background_00_taloushallinnon-taituri_LAST.png") no-repeat center;
  background-size: cover;
}
.card.case1{
background: #ffffff url("../images/background_01_saimaa-account-oy_LAST.png") no-repeat center;
  background-size: cover;
}
.card.case2{
  background: #ffffff url("../images/background_04_eevan-nakkikioski-tmi_LAST.png") no-repeat center;
  background-size: cover;
}
.card.case3{
  background: #ffffff url("../images/background_03_kalustetehdas-tyynela-oy_LAST.png") no-repeat center;
  background-size: cover;
}
.card.case4{
  background: #ffffff url("../images/background_02_golfkauppa-ranta-oy_LAST.png") no-repeat center;
  background-size: cover;
}
.card.tietoa {
  padding: 20px;
}
.card .card-text {
  max-width: 740px;
  padding-top: 10px;
}

.accordion {
  width: 100%;
  margin-top: -30px;
}
.accordion.home {
  margin-bottom: 150px;
  position: relative;
  z-index: 2;
}
#caseaineisto .accordion-body {
  padding-top: 70px;
  padding-left: 80px;
}
#caseaineisto .accordion-body .col-sm-8 {
  max-width: 645px;
}
#caseaineisto .accordion-body .row * {
  align-self: baseline;
}
/* AVAUS NAPPIEN MUOTOILU */
.accordion-button{
    padding: 0 20px;
}
.btn-floating {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-color: #00000000;
  border: none;
}
.btn1:not(.collapsed){
  visibility: hidden;
}
.btn1.collapsed{
position: absolute;
  bottom: 25px;
  right: 25px;
}
.btn-floating.collapsed,
.accordion-button::after {
  background-image: url("../images/button_plus.png");
  padding: 5px;
}
.btn-floating,
.accordion-button:not(.collapsed)::after {
  background-image: url("../images/button_minus.png");
  padding: 5px;
}
.accordion-button:not(.collapsed) {
  color: #1A1A1A;
  font-weight: 700;
  border-top: 2px solid;
  border-bottom: 2px solid;
  transition: border 0ms;
}
/* AVAUTUVIEN ALA-REUNAN MUOTO */
.accordion-item.bottom{
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  height: 24px;
}
.accordion-item:last-of-type,.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
/* OPINTOJAKSO LISTAUS JA TEHTÄVÄLISTA MUOTOILUJA */
#polut .accordion-button, #opintojaksot .accordion-button, #tehtavat .accordion-button {
  padding: 12px 30px;
}
#polut .head, #opintojaksot .head {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px 0 40px 20px;
  color: #1A1A1A;
}
#opintojaksot .linkit {
  padding-top: 48px;
}

#opintojaksot .accordion-body .row {
  padding: 5px 100px 5px 60px;
  min-height: 50px;
  align-items: center;
}
#opintojaksot .accordion-body .row img {
  margin: 0 3px;
}
#opintojaksot .accordion-body .row * {
  margin: 0;
}
#opintojaksot .row.indent {
  margin-left: 70px;
  

} #opintojaksot .row.indent img{ 
  margin: 2px;
}
.alaotsikko {
  color: #6A6A6A !important;
  font-size: 16px;
  margin-bottom: 10px;
} #polut .alaotsikko{
  margin-top: 48px;
}
.kuvaus{
  margin-bottom: 48px;
}
#tehtavat, #opintojaksot {
  margin: 50px 0;
}
#tehtavat .head {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 0 5px 15px;
}
#tehtavat .head .col-sm-5{
  display: flex;
  justify-content: center;
  color: #6A6A6A !important;
}
#tehtavat .accordion-body .col-md-10 {
  max-width: 645px;
  padding: 0;
}
#tehtavat .accordion-body, #polut .accordion-body {
  padding: 48px 24px;
} #polut .accordion-body {
  margin-left: 75px;
  max-width: 740px;
}
.polkuikoni{
  background: url("../images/icon_opintojaksot_square.png") no-repeat center;
  background-size: contain;
  width: 36px; 
  height: 36px;
  margin-right: 30px;
}
.tasknr {
  position: absolute;
  top: 4px;
  bottom:4px;
  display: block;
  align-self: center;
}
#tehtavat .accordion-button.collapsed .tasknr, #polut .accordion-button.collapsed .polkuikoni {
  background: none !important;
}
#tehtavat .accordion-button:not(.collapsed) .tasknr img, .tasknr, #polut .accordion-button:not(.collapsed) .polkuikoni img {
  display: none;
}

/* REUNOJEN VÄRIT JA MUUT ASETUKSET ERI SIVUJEN "TAULUKOIHIN" */
.case1#tehtavat .accordion-button:not(.collapsed) {
  border-color: var(--case1);
}
.case2#tehtavat .accordion-button:not(.collapsed) {
  border-color: var(--case2);
}
.case3#tehtavat .accordion-button:not(.collapsed) {
  border-color: var(--case3);
}
.case4#tehtavat .accordion-button:not(.collapsed) {
  border-color: var(--case4);
}
#opintojaksot .accordion-button:not(.collapsed), #polut .accordion-button:not(.collapsed) {
  border-image: linear-gradient(to right, #54A4DA, #54A4DA, #7EC247, #A67C52, #F79226) 1;
}
#opintojaksot a, #polut a, #opintojaksot .accordion-body a{
  color: transparent !important;
  background: linear-gradient(to right, #54A4DA, #54A4DA, #7EC247, #A67C52, #F79226);
  background-clip: text;
}
#tehtavat a, #caseaineisto a {
  color: transparent !important;
  background-clip: text;
}
.case1 a {
  background-color: var(--case1);
}
.case2 a {
 background-color: var(--case2);
}
.case3 a {
  background-color: var(--case3);
}
.case4 a {
  background-color: var(--case4);
}
#opintojaksot a:hover, #polut a:hover, #opintojaksot .accordion-body a:hover, #tehtavat a:hover, #caseaineisto a:hover {
  color: #0000003a !important;
  transition: all 0.4s;
}
#tehtavat ul li, #polut ul li, #caseaineisto ul li {
  list-style: none;
  align-items: center;
}
#tehtavat ul li *, #polut ul li *, #caseaineisto ul li *{
  white-space: pre-wrap;
}
#tehtavat ul li::before, #polut ul li::before, #caseaineisto ul li::before {
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 8px;
}
#tehtavat ul, #polut ul {
  margin:0;
}
.case1 ul li::before {
  background: url("../images/logo_01_saimaa-account-oy.png") no-repeat center;
  background-size: contain;
}
.case2 ul li::before {
  background: url("../images/logo_04_eevan-nakkikioski-tmi_corners5.png") no-repeat center;
  background-size: contain;
}
.case3 ul li::before {
  background: url("../images/logo_03_kalustetehdas-tyynela-oy.png") no-repeat center;
  background-size: contain;
}
.case4 ul li::before {
  background: url("../images/logo_02_golfkauppa-ranta-oy.png") no-repeat center;
  background-size: contain;
}
#polut ul li::before {
  background: url("../images/icon_opintojaksot_square.png") no-repeat center;
  background-size: contain;
}

/* ANIMOITUJEN NUMEROIDEN JA IKONEIDEN MUOTOILUT */
.img-container {
  bottom: 100px;
  z-index: 1;
  max-width: 1160px;
  position: absolute;
  flex-wrap:wrap-reverse;
  display: flex;
  justify-content: space-between;
}
.img-container-out{
  display: flex;
  justify-content: center;
}
.img-container >*{
  opacity: 0.9;
}
.numbers1 {
  height: 100px;
  width: 100px;
  position: relative;
  transform: rotate(45deg);
}
.numbers2 {
    height: 100px;
  width: 100px;
  position: relative;
  transform: rotate(320deg);
}
.numbers3 {
  height: 100px;
  width: 100px;
  position: relative;
}
/* MUKAUTUVUUSASETUKSET ELI MUOTOILU ERI KOKOISILLE NÄYTÖILLE */
@media only screen and (min-width: 1440px) {
  
  nav.navbar>* {
    padding: 0;
  }
}
@media only screen and (max-width: 1439px) {
  .main{
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-item{
    margin: 0 15px;
  }
}
@media only screen and (max-width: 991px) {
  #caseaineisto .accordion-body {
    padding-left: 20px;
    .row * {
      padding: 5px;
    }
  }
  .page{
    padding-top:140px;
  }
  #opintojaksot .accordion-body .row{
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 30px;
  }
  #polut .accordion-button, #opintojaksot .accordion-button, #tehtavat .accordion-button{
    padding: 12px;
  }
  .tasknr{
    margin-right: 5px;
  }
}
@media only screen and (max-width: 576px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 28px;
  }
  .main{
    padding: 0 10px;
  }
  .tasknr{
    position: relative;
    margin: 5px;
    top:0;
  }
  .opintojakso{
    display: flex;
    justify-content: end;
    text-align: end;
  }
  #opintojaksot .row.indent{
    margin-left: 30px;
  }
  #polut img.icon{
  margin-right:5px;
}
}
@media only screen and (max-width: 450px) {
  #tehtavat .col-5{
    line-height: 16px;
  }
  .accordion .head, .accordion-button{
    padding: 10px;
  }
}