:root {
  --case1: #84bee4;
  --case2: #c8d338;
  --case3: #ffc520;
  --case4: #f0a0b3;
}

html,
body {
  font-family: helvetica !important;
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#tehtavat {
  margin: 10px 0;

  .head {
    padding: 5px;
  }
}

.page {
  position: relative;
  min-height: 100vh;
  padding: 70px 0;
}

#nappi:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255);
  transition: all 600ms;
}
#nappi {
  border-radius: 40px;
}
.card-img-top {
  max-height: 400px;
  height: auto;
}
footer {
  font-size: 14px;

  background-color: rgba(124, 124, 124, 0.1);
  padding: 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  color: rgb(255, 255, 255);
}
footer a {
  color: rgb(255, 255, 255);
  padding: 0 10px;
}

.navbar-nav .nav-link,
.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  border-radius: 40px;
  margin: 5px;
  width: fit-content;
  padding: 4px 8px;
}
a.mobile {
  background-color: white;
  border-radius: 40px;
  padding: 4px 8px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-brand.active,
.navbar-brand:hover {
  color: black;
  background-color: white;
  transition: all 600ms;
}
.navbar {
  background-color: #000000;
}
@media only screen and (min-width: 992px) {
  .brand {
    display: block;
  }
  a.mobile {
    display: none;
  }
  .main {
    margin: 20px 160px;
  }
}
@media only screen and (max-width: 992px) {
  .brand {
    display: none;
  }
  a.mobile {
    display: block;
  }
  .navbar .container-fluid {
    margin: auto 80px;
  }
  .main {
    margin: 20px 100px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    margin: 20px 60px;
  }
  .navbar .container-fluid {
    margin: auto 50px;
  }
}
@media only screen and (max-width: 576px) {
  .main {
    margin: 20px 10px;
  }
  .navbar .container-fluid {
    margin: auto 5px;
  }
}
